[Unit]
Description=KZC notifier to user
After=kzc-monitor.service
BindsTo=kzc-monitor.service

[Service]
Type=simple
ExecStart=/usr/local/bin/kzc-notify
Restart=always
RestartSec=2
RefuseManualStop=yes

[Install]
WantedBy=multi-user.target
